# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
# אל תתעלם מ-package-lock.json, תשאיר אותו ב-git

# Env & Secrets
.env
*.env

# Logs
logs/
*.log
combined.log
error.log

# Build & Misc
dist/
coverage/

# OS
.DS_Store
Thumbs.db
